@using Thinktecture.IdentityServer.Web.App_LocalResources.OidcAuthorize
@model Thinktecture.IdentityServer.Protocols.OpenIdConnect.OidcViewModel
@{
    ViewBag.HideMenu = true;
}

<p>
    @string.Format(Consent.ConsentSignInMessage, @Model.ValidatedRequest.Client.Name)
</p>

@if(Model.GetDisplayScopes().Any())
{
    <p>@Consent.ConcentScopesMessage</p>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <dl class="scopes">
        @foreach (var scope in Model.GetDisplayScopes())
        {
            <dt>
                <label>
                    <input id="scope_@scope" type="checkbox" name="selectedScopes" value="@scope" checked />
                    <strong>@Consent.ResourceManager.GetString("Scope_" + scope + "_label")</strong>
                </label>
            </dt>
            <dd>
                <label for="scope_@scope">
                    @Consent.ResourceManager.GetString("Scope_" + scope + "_desc")
                </label>
            </dd>
        }
    
        @if(Model.OfflineScope)
        {
            <dt class="offline">
                <label>
                    <input id="scope_offline" type="checkbox" name="selectedScopes" value="@Thinktecture.IdentityServer.Protocols.OpenIdConnect.OidcConstants.Scopes.OfflineAccess" checked />
                    <strong>@Consent.Scope_offline_label</strong>
                </label>
            </dt>
            <dd>
                <label for="scope_offline">
                    @Consent.Scope_offline_desc
                </label>
            </dd>
        }
    </dl>
    
    <p>
        <button name="button" value="allow">@Consent.Allow</button>
        <button name="button" value="deny">@Consent.Deny</button>
    </p>
}