@using Thinktecture.IdentityServer.Web.Areas.Admin.App_LocalResources.OAuthRefreshToken
@model OAuthRefreshTokenIndexViewModel

@{
    ViewBag.Title = Index_cshtml.OAuthRefreshTokens;
}

@using (Html.BeginForm("Index", "OAuthRefreshToken"))
{
    <fieldset class="editor small">
        <legend>@Index_cshtml.RefreshTokens</legend>

        @Html.EditorFor(x => x.SearchCriteria)

        <div>
            @Html.LabelFor(x => x.SearchCriteria.ClientID)
            @Html.DropDownListFor(x => x.SearchCriteria.ClientID, Model.Clients)
        </div>

        <div class="buttons">
            <button>@Index_cshtml.Search</button>
        </div>
    </fieldset>
}

@if (Model.SearchResults != null)
{
    if (!Model.SearchResults.Any())
    {
    <h2>@Index_cshtml.NoResultsFound</h2>
    }
    else
    {
    <h2>@Index_cshtml.SearchResults</h2>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>@Index_cshtml.TimeStamp</th>
                <th>@Index_cshtml.UserName</th>
                <th>@Index_cshtml.Client</th>
                <th>@Index_cshtml.Scope</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var token in Model.SearchResults)
            {
                <tr>
                    <td>
                        @using (Html.BeginForm("DeleteToken", "OAuthRefreshToken", new { Model.SearchCriteria.Username, Model.SearchCriteria.Scope, Model.SearchCriteria.ClientID }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("token", token.Code)
                            <button>@Index_cshtml.Delete</button>
                        }
                    </td>
                    <td>@token.TimeStamp</td>
                    <td>@token.UserName</td>
                    <td>@Model.LookupClientId(token.ClientId)</td>
                    <td>@token.Scope</td>
                </tr>
            }
        </tbody>
    </table>
    }
}