@using Thinktecture.IdentityServer.Web.Areas.Admin.App_LocalResources.User
@model UserRolesViewModel
@{
    ViewBag.Title = string.Format(Roles_cshtml.RolesForUser, Model.Username);
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(Roles_cshtml.ErrorUpdatingRoleAssignments)

    <fieldset class="editor">
        <legend>@ViewBag.Title</legend>
        @foreach(var roleAssignment in  Model.RoleAssignments)
        {
            <div>
                @Html.HiddenFor(x => roleAssignment.Role)
                @Html.LabelFor(x => roleAssignment.InRole, roleAssignment.Role)
                @Html.CheckBoxFor(x => roleAssignment.InRole)
            </div>
        }
        <div class="buttons">
            <button type="submit">@Roles_cshtml.Update</button>
            <button type="reset">@Roles_cshtml.Cancel</button>
        </div>
    </fieldset>
}